
.App-logo {
  height: 40vmin;
  pointer-events: none;
  }

.navbar{
padding-right: 8%;
padding-left: 8%;
padding-top: 0rem;
padding-bottom: 0rem;
background-color: #283e4a;
}
.linked{
 width:40px;
 height:40px;
   }
.icons{
  font-size: 20px;
  padding-top: 0rem;
  background-color: transparent;
 
}
.left{
  outline: solid red 1px;
  text-align: center;
  height: 100%;
  font-size: 15px;
/* width: 50px; */
 justify-content: center;
 display: block;
 vertical-align: baseline;
 display: block;
}
.footer div.list-group-item {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.3em;
  padding: 0 !important;
  border: none;
  line-height: 1.33333;
}
.footer div.list-group-item:hover {
  color: #0073b1;
  cursor: pointer;
}
.footer .logo {
 max-width: 8rem;
}
.quest a {
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  line-height: 1.33333;
}
.quest a:hover {
  color: #0073b1 !important;
  cursor: pointer;
}