.footer div.list-group-item {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.3em;
  padding: 0 !important;
  border: none;
  line-height: 1.33333;
}
.footer div.list-group-item:hover {
  color: #0073b1;
  cursor: pointer;
}
.footer .logo {
 max-width: 8rem;
}